.first{
    padding: 2rem;

    .first-card{
        color: #fff;
        padding: 1rem;
        display: flex;
        border-radius: 1rem;
        align-items: center;
        background: #010131;
        justify-content: space-between;

        .first-card-content{
            gap: 1rem;
            display: flex;
            align-items: center;
            font-weight: 500;

            .icon-container{
                width: 45px;
                height: 45px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: #00b5fd;
            }
        }

        .register-btn{
            border: none;
            color: #fff;
            cursor: pointer;
            border-radius: 1rem;
            padding: .5rem 1rem;
            background-color: #0059fd;
        }
    }
}

.second-card-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 1.5rem 0rem;

    .second-card{
        display: grid;
        overflow: hidden;
        align-items: center;
        border-radius: 1rem;
        border: 1px solid gray;
        grid-template-columns: 1fr 1fr;

        .second-card-content{
            width: 100%;
            height: 100%;
            color: #fff;
            font-weight: 500;
            padding: 1.1rem 1rem;
            background-color: #307cee;

            button{
                gap: .5rem;
                display: flex;
                border: none;
                color: #fff;
                cursor: pointer;
                background: none;
                align-items: center;
                border-radius: 1rem;
                justify-content: center;
            }
        }

        .img-holder{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
}

.images-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    .image-card{
        aspect-ratio: 6/8;
        cursor: pointer;
        color: #fff;
        display: flex;
        overflow: hidden;
        padding: 1rem;
        align-items: end;
        border-radius: 1rem;
        background-size: cover;
        background-position: center;
    }
}