*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.icon-img{
    width: 30px;
    height: 30px;
}

.main-container{
    margin: auto;
    max-width: 1440px;
}