.container{
    gap: 1rem;
    display: flex;
    height: 60vh;
    padding: 0rem 2rem;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-image: url('../images/homePic.jpg');
    
    .sub-container{
        .title{
            padding-bottom: 1.5rem;
            color: #fff;
        }

        .input-container{
            gap: 1rem;
            display: flex;
            padding: 20px;
            background: #fcfcfc;
            border-radius: 1rem;
            
            .input-bar{
                gap: .5rem;
                display: flex;
                cursor: pointer;
                border-radius: 1rem;
                padding: .8rem 1rem;
                align-items: center;
                border: 1px solid gray;
                background: #fff;
                img{
                    width: 25px;
                    height: 25px;
                }
                input{
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 1.2rem;
                    color: #000;
                    input::placeholder{
                        color: #3a3a3a;
                    }
                    cursor: pointer;
                }
            }
            
            .seek-btn{
                border: none;
                color: #fff;
                cursor: pointer;
                border-radius: 1rem;
                padding: .8rem 1.5rem;
                background: #0000ff;
            }
        }
    }
}